@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 0.705);
    /* background-color: linear-gradient(45deg, rgba(0,0,255,1) 35%, rgba(255,0,225,1) 100%); */
    /* background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 35%, rgba(255,0,235,1) 100%),no-repeat;
height: 100vh; */
}

.bgg{
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
} 
.navbar{
  margin: 0;
  width: 100%;
  height: 80px;
  /* background-color: rgba(255, 255, 255, 0.741); */
  z-index: 2;
}

.navbar img{
  position: absolute;
  height: 80px;
  z-index: 1;
}

.navbar p{
  position: absolute;
  top:0.8rem;
  margin-left: 70px;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 50px;
  color: rgb(0, 0, 0);
  z-index: 2;
}

.navbar ul{
  text-align: center;
  position: absolute;
  right: 30px;
  top: 20px;
  
}
.navbar ul li {
  display: inline;
  text-decoration: none;
  margin: 15px;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.navbar ul li a:hover{
  color: greenyellow;
  border-radius: 10px;

}
.navbar ul .down li{
  color: red;
  font-size: 30px;
} 

.mySlides {
    display: none;
    font-family: Verdana, sans-serif;
}

img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #ff0090;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/* .active, .dot:hover {
  background-color: #00ff08;
} */
/* Fading animation */
.fade {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1.5s;
  animation-name: slide;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
} */
  
  




 
.mbubble{
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.bubbles{
    position: relative;
    display: flex;
    filter: blur(5px);
    z-index: -1;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: blue;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px blue,
    0 0 100px blue;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}


.bubbles span:nth-child(even){
    background-color: deeppink;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px deeppink,
    0 0 100px deeppink;
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }

}




/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

.container1{
    margin: 30px 0 30px 0;
    display: grid;
    max-width: 1800px;
    justify-content: space-around;
    gap: 60px;
    padding-left: 20px;
    z-index: 1;
    background-color: linear-gradient(45deg, rgba(0,0,255,1) 35%, rgba(255,0,225,1) 100%);
  }
.box{
    transition: transform .5s ease-in-out;
    height: 500px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px ;
    gap: 30px;
    z-index: 1;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255); 
    box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.1); 
    backdrop-filter:blur( 8.5px );

/* ///////////////////////////// */
/* background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
/*border: 1px solid rgba( 255, 255, 255, 0.18 ); */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* From https://css.glass */
/* background: rgba(91, 91, 91, 0.504); */
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */
}
.container1 .box img{
  height: 300px;
  width: 750px;
  margin: 30px 25px auto 25px;
  object-fit: fill;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  
 
}
 
.box a{
    text-decoration: none;
}



.container1 .box  h1{
    font-family: 'Instrument Serif', serif;
    font-weight: bold;
    color: #95ff00;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 10px;
}

.container1 .box a p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    /* font-weight: bold; */
    /* color: #01FF15; */
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 10px 8px 20px;
}
.container1 .box a .hilighter{
  display: inline;
}
.container1 .box a .hilighter .hilight{
  height: 25px;
  width: 77px;
  background-color: rgb(255, 0, 251);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 0, 251);
  /* border-radius: 50% 1%; */

  left: 30px;
  position: relative;
}

.container1 .box a .hilighter .hilight p{
  margin: 0;
  position: relative;
  left: -17px;
  top: -12px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px; 
}


/* .container1 .box a .hilighter .hilight1{
  height: 25px;
  width: 77px;
  background-color: rgb(43, 0, 255);
  left: 30px;
  position: relative;
}

.container1 .box a .h.hilight1 p{
  margin: 0;
  position: relative;
  left: -17px;
  top: -12px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
} */


.space{
    height: 30px;
    width: 100%;
}

.container1 .box:hover{
    transform: scale(1.05);
    /* resize: 10px; */
     transition: transform .5s ease-in-out;
    /* scale: 0.5; */
}


/* @media (max-width: 1230px)
{
    .container1{
        flex-direction: column;
    }
    .box{
        width: 80vw;
        position: relative;
        left: 10%;
        right: 10%;
        text-align: center;
        margin-bottom: 50px;
        cursor: pointer;
    } */




span{
    color:rgb(0, 255, 0);
}
.footer{
    height: 30vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    z-index: 1;
}

.footer p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 10px;
    z-index: 1;
}

.footer a img{
    text-decoration: none;
    height: 100px;
    width: 100px;
    padding: 10px;
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    color: white;
    background-color: black;
    z-index: 1;
}
/* main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

@media(max-width:768px){
    container1{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:480px){
    container1{
        grid-template-columns: repeat(1,1fr);
    }
} */



@media (min-width: 1080px) {
  .container1 {
     grid-template-columns: repeat(2, 1fr);
     }
  .box{
    height: 400px;
    width: 520px;}
  .container1 .box img{
      height: 200px;
      width: 470px;
  }
  .container1 .box a p{
    font-size: 20px;
    
  }
  
}
@media (min-width: 1400px) {
  .container1 { grid-template-columns: repeat(3, 1fr); }
  .box{height: 400px;
    width: 520px;}
    .container1 .box img{
      height: 200px;
      width: 470px;}
      .container1 .box a p{
        font-size: 20px;
      }
    
}
